h1, h2, h3, h4, h5, h6, p, input, button, span {
    font-size: 20px;
    font-family: 'Raleway';
}

h1 {
    font-family: 'Bely Display'
}

button {
    background: none;
    border: 1px solid black;
}