// RESET CSS

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, button {
	border: none;
	background: none;
}
* {
	box-sizing: border-box;
}

button:focus,
input:focus,
textarea:focus {
	outline: none !important;
}

// VARIABLES

$light: #E1BE52;
$bright: #DE9E36;
$muted: #BFBDC1;
$gray: #6D6E75;
$deep: #322E39;
$font-light: 'Raleway', sans-serif;
$font-bold: 'Open Sans', sans-serif;
$mobile-height: calc(var(--vh, 1vh) * 100);

#root {
	height: $mobile-height;
	background-color: $deep;
}

.auth-component-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	.logo {
		font-family: $font-bold;
		text-transform: uppercase;
		font-size: 80px;
		letter-spacing: 5px;
		color: $light;
		width: 80%;
		text-align: center;
	}

	.login, .register {
		display: flex;
		flex-direction: column;
		width: 80%;

		h2, span {
			font-family: $font-bold;
			color: $light;
		}

		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}

		input {
			font-family: $font-bold;
			background-color: $gray;
			color: $muted;
			padding: 10px;
			height: 30px;
			border-radius: 15px;
			margin-bottom: 10px;
			
		}
		
		::placeholder  {
			color: $deep;
			font-family: $font-bold;
		}

		.remember {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;

			input {
				margin: 0;
				margin-left: 10px;
			}
		}

		button {
			height: 40px;
			width: 50%;
			background-color: $bright;
			margin-left: 25%;
			margin-top: 20px;
			border-radius: 20px;
			font-family: $font-bold;
			font-size: 20px;
			color: $deep;
		}
		
	}
}

.user-component-container {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
	i {
		color: $light;
	}
}

.home-component-container {
	height: 100%;

	.nav {
		height: 70px;
		display: flex;
		width: calc(100% - 70px);
		justify-content: space-around;
		align-items: center;

		a {
			color: $light;
			text-decoration: none;
			font-family: $font-bold;
			font-size: 28px;
		}
	}

	.posts-component-container {
		height: calc(100% - 70px);
		padding: 10px 0;

		.posts-container {
			height: 90%;
			overflow-y: scroll;
		}

		.newpost {
			height: 10%;
			display: flex;
			align-items: center;
			padding-left: 20px;

			button {
				height: 50px;
				width: 50px;
				border-radius: 25px;
				background-color: $light;
				color: $deep;
				font-family: $font-bold;
				font-size: 30px;
				transition: transform 350ms ease;
				margin-right: 20px;
			}

			button:focus {
				outline: none;
			}

			.initial-text {
				transform: translateX(-70px);
			}

			.initial-upload {
				transform: translateX(-140px);
			}

			.initial-link {
				transform: translateX(-210px);
			}

			.open-menu, .close-menu {
				z-index: 1;
			}

			.close-menu {
				transform: rotate(45deg)
			}
		}

		.post-container {
			width: 95%;
			margin-left: 2.5%;
			background-color: $gray;
			border-radius: 10px;
			padding: 10px;
			margin-bottom: 10px;
			display: flex;

			.voting-container {
				width: 10%;
				display: flex;
				justify-content: space-around;
				align-items: center;

				> div {
					height: 50%;
					min-height: 60px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
				}

				h1 {
					font-family: $font-bold;
					color: $light;
					font-size: 20px;
					height: 22px;
				}
			}

			.post-teaser-container {
				width: 85%;
				margin-left: 5%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				h2 {
					color: white;
					font-family: $font-bold;
				}

				p {
					color: white;
					font-family: $font-light;
					margin: 10px 0;
				}

				.post-info {
					display: flex;
					justify-content: space-between;
					font-family: $font-bold;
					color: $deep;
					font-size: 14px;
				}

				img {
					width: 80%;
					height: auto;
					margin: 10px 0;
				}
			}
		}
	}
}

.newpost-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;

	.error {
		background-color: $light !important;
	}

	.cancel-post {
		font-family: $font-bold;
		font-size: 30px;
		color: $light;
		position: absolute;
		right: 20px;
		top: 20px;
		transform: translateY(-10px);
	}
	
	input:not(.checkbox):not(.file-input), 
	textarea {
		color: $deep;
		font-family: $font-bold;
		background-color: $muted;
		height: 30px;
		border-radius: 15px;
		padding: 10px;
		width: 100%;
		margin-bottom: 20px;
	}

	textarea {
		height: 40%;
	}

	span {
		font-family: $font-bold;
		color: $light;
	}

	::placeholder {
		color: $deep;
	}
	
	button:not(.cancel-post) {
		background-color: $bright;
		color: $deep;
		font-family: $font-bold;
		height: 40px;
		border-radius: 20px;
		width: 50%;
		font-size: 28px;
		position: absolute;
		bottom: 40px;
	}

	> div:not(.loading-animation) {
		height: 50px;
		display: flex;
		align-items: center;
	}

	.checkbox {
		width: 20px;
		height: 100%;
		margin: 0;
		margin-right: 20px;
	}
}

.post-modal {
	height: 100%;
	overflow-y: scroll;
	width: 100%;

	.close-modal {
		position: absolute;
		right: 20px;
		top: 5px;
		font-family: $font-bold;
		color: $light;
		font-size: 30px;
	}

	h2 {
		color: white;
		font-family: $font-bold;
		font-size: 24px;
		margin-top: 30px;
	}

	p {
		color: white;
		font-family: $font-light;
		font-size: 20px;
		margin: 10px 0;
	}

	img {
		width: 100%;
		height: auto;
	}

	.post-modal-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 50%;
		margin-left: 40%;
		font-family: $font-bold;
		color: $deep;

		i {
			color: white;
		}
	}

	.voting-container {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: flex-end;
		margin-bottom: 20px;

		h1 {
			font-family: $font-bold;
			color: $light;
			font-size: 20px;
			margin-right: 10px;
		}
	}
}

.newcomment-container {

	textarea {
		background-color: $muted;
		color: $deep;
		width: 100%;
		padding: 10px;
		font-family: $font-bold;
		font-size: 16px;
		border-radius: 15px;
		height: 100px;
		margin-bottom: 10px;
	}
	button {
		background-color: $light;
		font-family: $font-bold;
		color: $deep;
		height: 30px;
		border-radius: 15px;
		padding: 0 10px;
		margin-right: 10px;
	}
}

.comments-container {

	.comment {
		margin-bottom: 10px;
		border-bottom: 1px solid white;
		padding-bottom: 10px;

		> p {
			font-size: 16px;
		}

		.comment-info {
			display: flex;
			justify-content: flex-end;
			padding-right: 20px;
			margin-bottom: 10px;

			h1, h2 {
				margin-top: 0;
				font-size: 14px;
				color: $deep;
				font-family: $font-bold;
				margin: 0 5px;
			}
		}

		.comment-editor {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;

			.fa-edit {
				margin-right: 10px;
			}

			i {
				color: white;
			}

			button {
				color: white;
				font-family: $font-bold;
				text-transform: uppercase;
				font-size: 20px;
			}

			textarea {
				background-color: $muted;
				color: $deep;
				font-family: $font-bold;
				width: 100%;
				border-radius: 10px;
				padding: 10px;
			}
		}
	}
}

.messaging-component-container {
	height: calc(100% - 70px);
	padding: 10px;

	input {
		background-color: white;
		color: black;
		width: 90%;
		padding: 10px;
	}

	::placeholder {
		color: gray;
	}

	li, i {
		color: white;
	}

	.message-teaser {
		height: 50px;
		background-color: $muted;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $font-bold;
		color: $deep;
	}

	.message-input {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 50px;
	}

	.messaging-dashboard {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h1 {
			font-size: 20px;
			color: $muted;
		}

		button {
			font-family: $font-bold;
			font-size: 24px;
			color: $deep;
		}
	}
	
	.message-container {
		height: 100%;

		.header {
			display: flex;
			justify-content: space-between;
			padding: 0 20px;

			button {
				width: 10%;
				background: none;
			}
		}
	}

	.messages-list {
		height: 40%;
	}

	.messages {
		height: calc(100% - 100px);
		overflow-y: scroll;
		display: flex;
		flex-direction: column-reverse;

		li {
			margin: 20px 10px;
			padding: 10px;
			border-radius: 10px;
			color: $deep;
			font-family: $font-light;
			max-width: 70%;
			letter-spacing: 1px;
		}

		.mine {
			background-color: $light;
			text-align: right;
			align-self: flex-end;
		}

		.theirs {
			background-color: $muted;
			align-self: flex-start;
		}

	}

	h1 {
		text-align: center;
		color: white;
		font-family: $font-bold;
		font-size: 40px;
	}

	.message-user {
		height: 50px;
	}

	button {
		height: 50px;
		width: 100%;
		border-radius: 10px;
		background-color: $muted;
	}
}

.user-search {
	height: 100%;
	display: flex;
	flex-direction: column;

	input {
		width: 90%;
		padding: 10px;
		font-family: $font-bold;
	}

	.search-input {
		margin-bottom: 10px;
		background-color: $muted;
		border-radius: 5px;
	}

	button {
		width: 10%;

		i {
			color: $gray;
		}
	}

	.search-result {
		width: 100%;
		height: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-family: $font-bold;
		color: $light;
		align-items: center;

		h1 {
			height: 25px;
		}

		button {
			width: 30%;
			height: 50%;
			text-align: right;
			padding: 0;
			font-family: $font-bold;
			color: $light;
		}

		
		> div {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
		
		.request-input {
			width: 100%;
			font-family: $font-bold;
			border-radius: 5px;
			padding: 5px;
			background-color: $muted;
			margin-bottom: 5px;
		}
	}
	.active {
		height: 80px;
		margin-bottom: 10px;

		button {
			text-align: left;
		}
	}
}

.pending-messages-list {
	height: 40%;
	overflow-y: scroll;
}

.pending-container {
	padding: 10px;
	font-family: $font-bold;
	color: $muted;
	border-bottom: 1px solid $muted;

	h1 {
		text-align: right;
	}

	.buttons {
		display: flex;
		margin-top: 10px;

		button {
			width: 30%;
			margin-right: 10px;
			font-size: 18px;
			height: 30px;
		}
	}
}

.loading-animation {
	height: 50px;
	width: 50px;
	border-top: 3px solid $light;
	margin-top: 70px;
	border-radius: 25px; 
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	from {
		transform: none;
	}
	to {
		transform: rotate(360deg)
	}
}


.ReactModal__Overlay, .ReactModal__Content {
	z-index: 2;
}

.ReactModal__Overlay {
	background-color: rgba(0,0,0,0.4) !important;
}

.ReactModal__Content {
	background-color: $gray !important;
	border: none !important;
	height: 80vh !important;
}
